<div class="cv">
  <div class="cvPage">
    <h1 class="titreCV">CV</h1>
    <hr>

    <section class="section">
      <p class="textSection">« Passionné par le développement depuis longtemps, j’ai commencé mon apprentissage dès mes 15 ans. Aujourd’hui, je souhaite en faire mon métier. »</p>
    </section>
    <section class="section">
      <div class="titreSection">
        <p>Quelques infos sur moi</p>
      </div>
      <div class="pictoAboutMe">
        <a data-toggle="tooltip" title="22 ans"><i class="fa fa-male" aria-hidden="true"></i></a>
        <a data-toggle="tooltip" title="06.24.16.65.81"><i class="fa fa-mobile" aria-hidden="true" style="font-size:2.3rem;"></i></a>
        <a data-toggle="tooltip" title="Permis B"><i class="fa fa-car" aria-hidden="true" style="font-size:1.7rem;"></i></a>
        <a data-toggle="tooltip" title="20 Quai de la Guignière 37230 Fondettes"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
      </div>
    </section>
    <hr>
    <div class="titreSection">
      <p>Mon environnement de travail</p>
    </div>
    <section class="sectionLogo">
      <img src="../../assets/java.png" class="logoProg" data-toggle="tooltip" title="Java">
      <img src="../../assets/html.png" class="logoProg" data-toggle="tooltip" title="HTML">
      <img src="../../assets/css.png" class="logoProg" data-toggle="tooltip" title="CSS">
      <img src="../../assets/sql.png" class="logoProg" data-toggle="tooltip" title="SQL">
    </section>
    <br>
    <section class="sectionLogo">
      <img src="../../assets/github.png" class="logoProg" data-toggle="tooltip" title="Github">
      <img src="../../assets/scilab.png" class="logoProg" data-toggle="tooltip" title="Scilab">
      <img src="../../assets/scrum.png" class="logoProg" data-toggle="tooltip" title="Scrum">
      <img src="../../assets/spring.png" class="logoProg" data-toggle="tooltip" title="Spring">
    </section>
    <hr>
    <div class="titreSection">
      <p>Mes formations</p>
    </div>
    <ul id="listForm">
      <li class="listFormation"><i class="fa fa-graduation-cap" aria-hidden="true"></i><br>Bac Pro SEN Option EIE<br><p class="textFormation">Châtellerault</p></li>
      <li class="listFormation"><i class="fa fa-graduation-cap" aria-hidden="true"></i><br>BTS SIO <br>Option SLAM<br><p class="textFormation">Poitiers</p></li>
      <li class="listFormation"><i class="fa fa-graduation-cap" aria-hidden="true"></i><br>Formation Java<br><p class="textFormation">Tours</p></li>
    </ul>
  </div>
  <div class="cvPage">
    <h1 class="titreCV">Mes experiences pro</h1>
    <hr>

    <section class="sectionProGauche">
      <p>zfefefzfzefze</p>
    </section>
    <section class="sectionProDroite">
      <p>zfefefzfzefze</p>
    </section>
  </div>
</div>
