<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">Accueil</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/places']">Lieux d'exposition</a>
    </div>
  </div>
  <a [routerLink]="['login']" style="color: black;"><span class="material-icons" style="font-size: 40px">
account_circle
</span></a>
</nav>
<mat-progress-spinner *ngIf="isLoading | async" diameter=50
                          mode="indeterminate"
                          color="accent" style="position: absolute; z-index: 9999; top: 50%; left: 50%;">
</mat-progress-spinner>
<router-outlet></router-outlet>
