<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']"><img src="../assets/logo.png" alt="" style="width: 2.5rem"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['cv']">Mon CV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Me contacter</a>
      </li>
    </ul>
    <ul>
      <li class="nav-item" >
        <a class="nav-link" href="https://github.com/emixaMT?tab=repositories"><i class="fa fa-github" aria-hidden="true" id="github"></i></a>
      </li>
    </ul>
  </div>

</nav>
<router-outlet></router-outlet>
