.card-img-top {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  position: relative;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 2rem;
}

.card:hover .image {
  width: 100%;
  opacity: 0.3;
}

.card:hover .middle {
  width: 100%;
  opacity: 1;
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
}

.card {
  border: none;
}
