
<div class="d-flex justify-content-center">
  <p class="text-center w-75 p-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum ex vitae feugiat maximus. Maecenas lacus dolor, elementum id tortor non, vulputate laoreet magna. Phasellus efficitur sapien vitae laoreet laoreet. Quisque tincidunt velit ligula, consectetur tristique orci rhoncus a. Mauris commodo euismod vestibulum. Aenean imperdiet, est eu porta congue, nisi purus varius dui, sit amet sagittis tellus augue quis erat. Aenean sagittis neque ut nunc volutpat, sit amet elementum leo ultricies. Nam nunc sem, consequat quis venenatis at, egestas auctor turpis.</p>
</div>
<div class="d-flex justify-content-around flex-wrap">
  <div class="card" style="width: 18rem;margin-top: 2rem;" *ngFor="let oeuvre of oeuvres">
    <img class="card-img-top" src="{{oeuvre.image}}" alt="Card image cap">
    <div class="middle">
      <h5 class="text-center">{{oeuvre.nom}}</h5>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-around flex-wrap">
  <div class="card" style="width: 18rem; margin-top: 2rem" *ngFor="let oeuvre of oeuvres">
    <img class="card-img-top" src="{{oeuvre.image}}" alt="Card image cap">
    <div class="middle">
      <h5 class="text-center">{{oeuvre.nom}}</h5>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-around flex-wrap">
  <div class="card" style="width: 18rem; margin-top: 2rem;" *ngFor="let oeuvre of oeuvres">
    <img class="card-img-top" src="{{oeuvre.image}}" alt="Card image cap">
    <div class="middle">
      <h5 class="text-center">{{oeuvre.nom}}</h5>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
