<h1 class="text-center">Hi everyone</h1>
<p class="text-center">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias amet corporis deleniti dolorum ducimus earum, et eveniet exercitationem facilis inventore nam officia optio perferendis quas tempore voluptas voluptate?
</p>
<div class="carte">
  <h3 class="categorie">Programmes web:</h3>
  <hr>
  <div class="flex_cards row" style="margin: 0">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/java_banniere.png" alt="Card image cap" style="height: 180px">
      <div class="card-body">
        <h5 class="card-title">Projet 1</h5>
        <p class="card-text">Mon premier projet, le projet Alpha, mon point de départ ! Mon code est dispo sur github </p>
        <a target="_blank" href="https://github.com/emixaMT/projetAlpha" class="btn btn-warning">Github</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/java_banniere.png" alt="Card image cap" style="height: 180px">
      <div class="card-body">
        <h5 class="card-title">Projet 2</h5>
        <p class="card-text">Vous pourrez trouver le code de mon 2nd projet en cliquant juste ici !</p>
        <a target="_blank" href="https://github.com/WildCodeSchool/sept2019-java-tours-SerialSeries" class="btn btn-warning">Github</a>
        <a target="_blank" href="https://serialseries.herokuapp.com/" class="btn btn-primary">Site</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/java_banniere.png" alt="Card image cap" style="height: 180px">
      <div class="card-body">
        <h5 class="card-title">Projet 3</h5>
        <p class="card-text">En cours de développement... Donc soyez patient ca arrive bientôt !<br>
        </p>
        <a  class="btn btn-outline-primary disabled" >Soon</a>
      </div>
    </div>
  </div>

  <h3 class="categorie">Programmes console: </h3>
  <hr>
  <div class="flex_cards">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/cmd.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Wildinator</h5>
        <p class="card-text">Mon premier hackathon sur le thème Halloween </p>
        <a target="_blank" href="https://github.com/emixaMT/Wildinator" class="btn btn-warning">Github</a>
        <a target="_blank" href="https://repl.it/repls/KindheartedInsecureExams" class="btn btn-primary">Try it !</a>
      </div>
    </div>
  </div>
</div>
